<!--- Two Column Section -->
<div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                    <img src="assets/img/2013-07-05.jpg" class="skylar-smokey">
            </div>
            <div class="col-lg-6">
                <h2>
                    About
                </h2>
                <p>
                    Illustrator and graphic designer local to Palm Springs, CA.
                </p>
                <br>
            </div>
        </div>
        <hr class="my-4">
      </div>