<!--- Two Column Section -->
<div (window:resize)="drawWindow()">
<div class="container-fluid">
    <div *ngIf="xs" class="row">
        <div class="col-xs-12">
          <gallery-image *ngFor="let image of column1" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
      </div>
    <div *ngIf="md" class="row">
        <div class="col-md-6">
          <gallery-image *ngFor="let image of column1" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
        <div class="col-md-6">
          <gallery-image *ngFor="let image of column2" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
      </div>

    <div *ngIf="lg" class="row">
        <div class="col-lg-4">
          <gallery-image *ngFor="let image of column1" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
        <div class="col-lg-4">
          <gallery-image *ngFor="let image of column2" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
        <div class="col-lg-4">
          <gallery-image *ngFor="let image of column3" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
      </div>

    <div *ngIf="xl" class="row">
        <div class="col-xl-3">
          <gallery-image *ngFor="let image of column1" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
        <div class="col-xl-3">
          <gallery-image *ngFor="let image of column2" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
        <div class="col-xl-3">
          <gallery-image *ngFor="let image of column3" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
        <div class="col-xl-3">
          <gallery-image *ngFor="let image of column4" url="{{image.url}}" caption="{{image.caption}}" index="{{image.index}}" (click)="viewImage(image)"></gallery-image>
        </div>
    </div>   
    <hr class="my-4">
</div>
</div>